@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus   {
  -webkit-box-shadow: 0 0 0 30px #141414 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground) !important;
}

@layer utilities {
  /*
        https://github.com/tailwindlabs/tailwindcss/discussions/2394
        https://github.com/tailwindlabs/tailwindcss/pull/5732
    */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #433b5a #170f2e;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #170f2e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #433b5a;
  border-radius: 4px;
  border: 2px solid #170f2e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a4f7d;
}

@media (max-width: 640px) {
  .custom-scrollbar table {
    table-layout: fixed;
  }
}
